.news {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 3px;
  margin-top: 10px;
  padding: 10px 0px 10px 0px;
  .news-link {
    position: relative;
    left: 26px;
    display: inline-block;
    .title {
      font-size: 16px;
      color: #555555;
    }
    .description {
      color: #777777;
      font-size: 13px;
    }
    .metadata {
      font-size: 12px;
      color: #999999;
    }
  }
  .btn {
    color: #777777;
    font-size: 12px;
    width: 40px;
    height: 40px;
    background-color: #eeeeee;
    border-radius: 3px;
    text-align: center;
    position: relative;
    i {
      display: block;
      margin-bottom: -5px;
    }
    &.upvote {
      top: -12px;
      left: 10px;
      display: inline-block;
      cursor: pointer;
      i {
        padding-top: 3px;
        font-size: 20px;
      }
    }
    &.comments {
      top: 11px;
      right: 10px;
      cursor: pointer;
      i {
        font-size: 14px;
        padding-top: 7px;
        padding-bottom: 2px;
      }
    }
    &.type {
      top: 11px;
      right: 20px;
      cursor: pointer;
      i {
        font-size: 14px;
        padding-top: 13px;
        padding-bottom: 2px;
      }
    }
  }
}