<div ng-controller="CommentPostCtrl" ng-show="user">
  <form class="comment-post">
    <div class="row">
      <div class="large-12 columns">
        <div class="input-container">
          <textarea required id="comment" ng-model="comment" placeholder="Write your comments..." rows="3"></textarea>
          <label for="comment">Comments</label>
        </div>

        <a href="" class="button default" ng-click="postComment()">Add Comment</a>
        <div class="error" ng-show="error">
          <p>{{error}}</p>
        </div>
      </div>
    </div>
  </form>
</div>