.comment {
  font-size: 14px;
  color: #555555;
  padding: 10px 0px 10px 25px;
  &:nth-child(odd) {
    background-color: #fafafa;
  }
  .author {
    font-size: 12px;
    margin-top: 5px;
    color: #777777;
  }
  .message {
    white-space: pre;
  }
}