@import '../components/navbar/navbar.scss';
@import '../components/footer/footer.scss';
@import '../components/submission/submission.scss';
@import '../components/comment-box/comment-box.scss';
@import '../components/comment/comment.scss';
@import '../components/comment-post/comment-post.scss';
@import '../components/submission-post/submission-post.scss';
@import '../components/signup/signup.scss';
@import '../components/login/login.scss';

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

* {
  margin: 0;
}

html, body {
  background-color: #eeeeee;
  height: 100%;
}

html, body, p, a, ul, li, span {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
}

.main {
  padding-top: 55px;
  padding-bottom: 55px;
}
.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -50px;
}

.overlay {
  position: fixed;
  background-color: rgba(255,255,255,0.5);
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 101;
  cursor: pointer;
}
.overlay.ng-hide-remove {
  animation: 0.2s fadeIn ease;
}
.overlay.ng-hide-add {
  animation: 0.2s fadeOut ease;
}