<div ng-controller="ForgotPasswordCtrl">
  <div class="overlay" ng-click="hideOverlay()" ng-show="forgotPasswordBox"></div>

  <div class="container signup" ng-show="forgotPasswordBox">
    <div class="close-modal">
      <i class="fa fa-close" ng-click="hideOverlay()"></i>
    </div>
    <h4>Forgot your password?</h4>
    <p>Don't worry. Just enter the email address you signed up with and we will send you an email with a new password.</p>
    <form ng-keydown="($event.keyCode===13)?sendResetPasswordEmail():0">
      <div class="large-12 columns">
        <div class="input-container">
          <input required ng-model="email" type="text" placeholder="hello@nus.com" id="email">
          <label for="email">Email</label>
        </div>
        <a href="#" class="button default" ng-click="sendResetPasswordEmail()">Send Email</a>
      </div>
    </form>
    <div class="large-12 columns success">
      <p>{{success}}</p>
    </div>
    <div class="large-12 columns error">
      <p>{{error}}</p>
    </div>
  </div>
</div>
