.news {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 3px;
  margin-top: 10px;
  padding: 5px 0px 7px 0px;
  width: 95%;
  box-shadow: 0 2px 2px #ddd;
  .news-link {
    position: relative;
    left: 38px;
    float: left;
    width: 80%;
    .title {
      font-size: 16px;
      color: #555555;
      display: inline-block;
      a {
        color: #555555;
        &:hover {
          color: #777777;
        }
        &:active, &:focus {
          color: #333333;
        }
      }
      .url {
        font-size: 13px;
        color: #777777;
      }
      .type {
        font-size: 10px;
        padding: 2px 5px 2px 4px;
        box-sizing: content-box;
        border-radius: 3px;
        color: #FFF;
        font-weight: bold;
        bottom: 2px;
        position: relative;
        display: inline-block;
        &.link {
          background-color: #27AE60;
        }
        &.event {
          background-color: #3498DB;
        }
        &.job {
          background-color: #E67E22;
        }
        &.discussion {
          background-color: #34495E;
        }
      }
    }
    .description {
      color: #777777;
      font-size: 13px;
      display: inline-block;
      font-style: italic;
      margin-left: 5px;
    }
    .metadata {
      font-size: 12px;
      color: #999999;
      a {
        color: #2C3E50;
        &:hover {
          color: #2C3E50;
          text-decoration: underline;
        }
        &:active, &:focus {
          color: #2C3E50;
        }
      }
    }
  }
  .btn {
    color: #2C3E50;
    font-size: 11px;
    font-weight: bold;
    width: 40px;
    height: 40px;
    border: 2px solid #2C3E50;
    background-color: none;
    border-radius: 3px;
    text-align: center;
    position: relative;
    z-index: 1;
    width: 36px;
    height: 36px;
    border-radius: 30px;
    transition: all 100ms ease-out;
    -webkit-transition: all 100ms ease-out;
    -moz-transition: all 100ms ease-out;
    -o-transition: all 100ms ease-out;
    i {
      display: block;
      margin-bottom: -5px;
    }
    &.upvote {
      top: 5px;
      left: -5px;
      float: left;
      cursor: pointer;
      line-height: 1.4em;
      padding-left: 1px;
      position: absolute;
      left: 10px;
      &:hover {
        background-color: #2C3E50;
        border: 2px solid #2C3E50;
        color: #ffffff;
      }
      i {
        padding-top: 3px;
        font-size: 13px;
        padding-bottom: 2px;
      }
      &.ng-hide-add {
        animation: 1s tada ease;
        -webkit-animation: 1s tada ease;
      }
      &.upvoted {
        line-height: 3em;
        border: 2px solid #27AE60;
        background-color: #ffffff;
        color: #27AE60;
        cursor: default;
        &.ng-hide {
          opacity: 0;
        }
        &.ng-hide-remove {
          opacity: 0;
          animation: 1s bounceIn ease;
          -webkit-animation: 1s bounceIn ease;
          animation-delay: 1s;
          -webkit-animation-delay: 1s;
        }
      }
    }
    &.comments {
      top: 5px;
      right: -5px;
      cursor: pointer;
      background-color: rgba(0,0,0,0);
      &:hover {
        background-color: #2C3E50;
        border: 2px solid #2C3E50;
        color: #ffffff;
      }
      i {
        font-size: 11px;
        padding-top: 6px;
        padding-bottom: 1px;
        padding-left: 1px;
      }
    }
  }
}

@media only screen
and (max-width : 768px) {
  .news {
    .news-link {
      width: 80%;
    }
  }
}