<div ng-controller="PostCtrl">
  <div class="row news" ng-repeat="post in posts | orderBy: order | filter: filter">
    <div class="large-10 columns">
      <div class="btn upvote" ng-click="upvotePost(post.$id)" ng-hide="post.userHasUpvoted">
        <i class="fa fa-caret-up"></i>
        {{post.upvotes}}
      </div>
      <div class="btn upvote upvoted" ng-show="post.userHasUpvoted">
        {{post.upvotes}}
      </div>

      <div class="news-link">
        <div class="title">
          <b>{{post.title}}</b> <span class="url" ng-show="post.type==='link'">({{post.url | urlShorten}})</span>
        </div>
        <div class="description">
          {{post.description}}
        </div>
        <div class="metadata">
          Submitted {{post.timeSubmitted | fromNow}} by {{post.submitted.name}}
        </div>
      </div>
    </div>
    <div class="large-2 columns">
      <div class="btn comments right" ng-click="showComments(post.$id)">
        <i class="fa fa-comments"></i>
        {{post.commentsCount}}
      </div>
      <div class="btn type right" ng-show="post.type==='link'">
        <i class="fa fa-link"></i>
      </div>
      <div class="btn type right" ng-show="post.type==='event'">
        <i class="fa fa-calendar"></i>
      </div>
      <div class="btn type right" ng-show="post.type==='job'">
        <i class="fa fa-dollar"></i>
      </div>
      <div class="btn type right" ng-show="post.type==='discussion'">
        <i class="fa fa-comment"></i>
      </div>
    </div>
  </div>
</div>
