<div ng-controller="LoginCtrl">
  <div class="overlay" ng-click="hideOverlay()" ng-show="loginBox"></div>

  <div class="container signup" ng-show="loginBox">
    <h4>Login</h4>
    <form>
      <div class="large-12 columns">
        <div class="input-container">
          <input required ng-model="email" type="text" placeholder="hello@nus.com" id="email">
          <label for="email">Email</label>
        </div>
        <div class="input-container">
          <input required ng-model="password" type="password" placeholder="MySecretPassword" id="password">
          <label for="password">Password</label>
        </div>

        <a href="#" class="button" ng-click="login()">Login</a>
      </div>
    </form>
    <div class="large-12 columns error">
      <p>{{error}}</p>
    </div>
  </div>
</div>
