<div ng-controller="CommentBoxCtrl">
  <div class="overlay" ng-click="hideOverlay()" ng-show="commentBox"></div>

  <div class="container comment-box" ng-show="commentBox">
    <div class="close-modal">
      <i class="fa fa-close" ng-click="hideOverlay()"></i>
    </div>
    <div class="row news">
      <div class="large-10 medium-10 small-10 columns">
        <div class="btn upvote" ng-click="upvotePost(post.$id)" ng-hide="post.upvoters[userId]">
          <i class="fa fa-chevron-up"></i>
          {{post.upvotes}}
        </div>
        <div class="btn upvote upvoted" ng-show="post.upvoters[userId]">
          {{post.upvotes}}
        </div>
        <div class="news-link">
          <div class="title">
            <b>{{post.title}}</b> <span class="url" ng-show="post.type==='link'">({{post.url}})</span>
          </div>
          <div class="description">
            {{post.description}}
          </div>
          <div class="metadata">
            Submitted {{post.time_submitted | fromNow}} by {{post.submitted.name}}
          </div>
        </div>
      </div>
    </div>
    <div class="row news-text" ng-hide="post.type==='link'">
      <div class="large-12 columns">
        <p>{{post.text}}</p>
      </div>
    </div>
    <div ng-include="'components/comment-post/comment-post.html'"></div>
    <div ng-include="'components/comment/comment.html'"></div>
  </div>
</div>