.comments {
  position: fixed;
  height: 100%;
  width: 600px;
  background-color: #ffffff;
  top: 0;
  right: 0;
  z-index: 101;
  .news-link {
    position: relative;
    left: 26px;
    .title {
      font-size: 16px;
      color: #555555;
    }
    .description {
      color: #777777;
      font-size: 13px;
    }
    .metadata {
      font-size: 12px;
      color: #999999;
    }
  }
  .btn {
    color: #777777;
    font-size: 12px;
    width: 40px;
    height: 40px;
    background-color: #e4e4e4;
    border-radius: 3px;
    text-align: center;
    position: relative;
    &.upvote {
      top: -14px;
      left: 10px;
      i {
        display: block;
        margin-bottom: -5px;
        padding-top: 3px;
        font-size: 20px;
      }
    }
  }
  form {
    margin-top: 10px;
  }
  .news, .comment, form {
    border-bottom: 1px solid #eee;
  }
}
.comments.ng-hide-remove {
  animation: 0.2s fadeInRight ease;
}
.comments.ng-hide-add {
  animation: 0.2s fadeOutRight ease;
}

.news-text {
  font-size: 14px;
  padding: 15px;
  border-bottom: 1px solid #eeeeee;
  color: #555555;
}