.comment-box {
  position: fixed;
  height: 100%;
  width: 600px;
  background-color: #ffffff;
  top: 0;
  right: 0;
  z-index: 101;
  box-shadow: -2px 0px 5px #cccccc;
  overflow-y: scroll;
  .news-link {
    position: relative;
    .title {
      font-size: 16px;
      color: #555555;
    }
    .description {
      color: #777777;
      font-size: 13px;
    }
    .metadata {
      font-size: 12px;
      color: #999999;
    }
  }
  .btn {
    color: #2C3E50;
    font-size: 11px;
    font-weight: bold;
    width: 40px;
    height: 40px;
    border: 2px solid #2C3E50;
    background-color: none;
    border-radius: 3px;
    text-align: center;
    position: relative;
    z-index: 1;
    width: 36px;
    height: 36px;
    border-radius: 30px;
    transition: all 100ms ease-out;
    -webkit-transition: all 100ms ease-out;
    -moz-transition: all 100ms ease-out;
    -o-transition: all 100ms ease-out;
    i {
      display: block;
      margin-bottom: -5px;
    }
    &.upvote {
      top: 5px;
      left: 10px;
      float: left;
      cursor: pointer;
      line-height: 1.4em;
      padding-left: 1px;
      &:hover {
        background-color: #2C3E50;
        border: 2px solid #2C3E50;
        color: #ffffff;
      }
      i {
        padding-top: 3px;
        font-size: 13px;
        padding-bottom: 2px;
      }
      &.ng-hide-add {
        animation: none;
        -webkit-animation: none;
      }
      &.upvoted {
        line-height: 3em;
        border: 2px solid #27AE60;
        background-color: #ffffff;
        color: #27AE60;
        cursor: default;
        z-index: 20;
        &.ng-hide-remove {
          animation: none;
          -webkit-animation: none;
          animation-delay: none;
          -webkit-animation-delay: none;
        }
      }
    }
  }
  form {
    margin-top: 10px;
  }
  .news, .comment, form {
    border-bottom: 1px solid #eee;
  }
}
.comment-box.ng-hide-remove {
  animation: 0.2s fadeInRight ease;
}
.comment-box.ng-hide-add {
  animation: 0.2s fadeOutRight ease;
}

.news-text {
  font-size: 14px;
  padding: 15px;
  border-bottom: 1px solid #eeeeee;
  color: #555555;
  p {
    white-space: pre;
  }
}

@media only screen and (max-width: 640px) {
  .comment-box {
    width: 100%;
  }
}