<div ng-controller="CommentBoxCtrl">
  <div class="overlay" ng-click="hideOverlay()" ng-show="commentBox"></div>

  <div class="container comments" ng-show="commentBox">
    <div class="row news">
      <div class="large-10 columns">
        <div class="btn upvote" ng-click="upvoteSubmission(submission.$id)">
          <i class="fa fa-caret-up"></i>
          {{submission.upvotes}}
        </div>
        <div class="news-link">
          <div class="title">
            <b>{{submission.title}}</b> <span class="url" ng-show="submission.type==='link'">({{submission.url}})</span>
          </div>
          <div class="description">
            {{submission.description}}
          </div>
          <div class="metadata">
            Submitted {{submission.time_submitted | fromNow}} by {{submission.submitted.name}}
          </div>
        </div>
      </div>
    </div>
    <div class="row news-text" ng-hide="submission.type==='link'">
      <div class="large-12 columns">
        {{submission.text}}
      </div>
    </div>
    <div ng-include="'components/comment-post/comment-post.html'"></div>
    <div ng-include="'components/comment/comment.html'"></div>
  </div>
</div>